<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>

      <endpoint name="primarni"
      address="net.tcp://localhost:4001/IDatabaseManagement"
      binding="netTcpBinding"
      contract="Common.IDatabaseManagement" />

      <endpoint name="sekundarni"
      address="net.tcp://localhost:5002/IDatabaseManagement"
      binding="netTcpBinding"
      contract="Common.IDatabaseManagement" />

    </client>
  </system.serviceModel>
</configuration>