<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="Server.DataBaseManagement">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4001/IDataBaseManagement" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding"
                              bindingConfiguration="Binding1"
        contract="Common.IDataBaseManagement" />
      </service>

      <service name="Server.StateService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10300/IStateService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding"
                  bindingConfiguration="Binding1"
        contract="Common.IStateService" />
      </service>
      
      <service name="Server.Replicator">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10900/IReplicator" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="netTcpBinding"
                  bindingConfiguration="Binding1"
        contract="Server.IReplicator" />
      </service>

    </services>

    <bindings>
      <netTcpBinding>
        <binding name="Binding1">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="sekundarni"
      address="net.tcp://localhost:10800/IReplicator"
      binding="netTcpBinding"
      bindingConfiguration="Binding1"
      contract="Server.IReplicator" />
    </client>
  </system.serviceModel>
</configuration>