<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<system.serviceModel>
    <client>

      <endpoint name="server1"
      address="net.tcp://localhost:10300/IStateService"
      binding="netTcpBinding"
      contract="Common.IStateService" />

      <endpoint name="server2"
      address="net.tcp://localhost:10400/IStateService"
      binding="netTcpBinding"
      contract="Common.IStateService" />

    </client>
  </system.serviceModel>
</configuration>